.movie-data {
    background-color: black;
    color: white;
    height: 100px;
    flex-grow: 3;
    margin: 15px;
    width: 65vw;
    border: solid #CC0000;
}

.thumbnail-img {
    height: 100px;
    float: left;
    padding-right: 10px;
    clear: right;

}

body {
    background-color: black;
    color: white;
}

header {
    text-align: center;
    color: yellow;
}

.fade {
    opacity: 0;
}

.fade-trans {
    transition-timing-function: ease-out;
    transition-duration: 1500ms;
}

.search-menu {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: solid #6600CC;
    width: 180px;
    height: 290px;
}

.flex-container {
    display: flex;
    flex-direction: row;

}

.thumbnail-img:hover {
    -ms-transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

.movie-content {
    padding: 5px;
}

.poster-img {
    width: 120px;
    height: 200px;
    float: left;
}
.off-screen {
    position: absolute !important;
    left: -2500px !important;
    top: 0;
}
.holder {
    position: relative;
}

.search-trans {
    position:absolute;
    left: 0px;
    transition-property: all;
    transition-duration: 1500ms;
    transition-timing-function: cubic-bezier(0,1,.72,.9);
}
